/* @charset "ISO-8859-1"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html {
    font-family: Arial;
    color: black;
    background-color: rgb(190, 186, 186);
}


body {
    font-family: "Roboto", sans-serif;

    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 3vw;
    border-left: 2px solid black;
    border-right: 2px solid black;

    background-color: rgb(117, 197, 117);

}

main {
    background-color: rgb(224, 219, 219);
}

h1 {
    background-color:  rgb(233, 217, 217);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bolder;

    border: solid 2px black;
    line-height: 3.8rem;

}

summary {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    border: 2px outset black;

    background-color: rgb(233, 217, 217);
    padding: 1.5rem;
    font-weight: bold;

}

aside {
    background-color:  rgb(117, 197, 117);
}

form {
	text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: rgb(233, 217, 217);
    border: 2px dashed black;
    padding: 1.5rem;
    
}



a {
    font-weight: bold;
}

a:visited {
    /* color: rgba(240, 4, 4, 0.382); */
    color: crimson;
}

a:hover {
    color: rgb(255, 132, 0);
}

.information {
	border: 1px outset black;
    font-family: Helvetica, serif;
    padding: 0.5rem;
    
    margin-top: 0;
    margin-bottom:0;
    background-color: rgb(233, 217, 217);
    color: black;

}

h2 {
    font-weight: bold;
    width: 5%;
    line-height: 0.8rem;
    text-align: center;
}

footer center a {
	background-color: #24A0ED;
	color: whitesmoke;
	margin: 2rem;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}
